@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
 *{

font-family: inter;
box-sizing: border-box;
margin: 0;
padding: 0;
outline: 0;
font-weight: 400;

}
:root {
    --whithe:  #ffffff;
    --black:   #000000;
    --primary: #403535;
    --secundary: #C4C4C4;
    --third: #6C5F5F;

}

header {

    display: flex;
    border-bottom: 2.0rem solid var(--secundary);
    height: 12rem;
    justify-content: center;
}
header picture {
  width: 100%;
  display: flex;
  align-items: center;
}
header picture img{
  margin: 0 auto;
}
header nav ul{

  list-style-type: none;
  display: flex;
  align-items: center;
}
  header nav ul li{

    margin: 0 1.5rem;
  }

  header nav ul li a{

    text-decoration: none;
    font-size: 1.2rem;
    color:#ffffff;
  }
   body {

    background-color: var(--primary);
   }
   main{
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 20PX;

   }

  main div{
    display: flex;
    flex-direction: row;
  }

     main div h1{

      font-size: 60px;
      margin: 0 3rem;
      color: #C4C4C4;

     }
     main div div{
       flex-direction: column;
     }
     main >img{
       width: 400px;
       margin: 20px;
     }
    

   footer {

    background-color: var(--secundary);
    height: 4rem;
    display: flex;
    align-items: center;
    
   }

   footer > div {

    display: flex;
    align-items: center;
   }

   .content {

      width: 100%;
      max-width: 1372px;
     
   }
 
